# exclude directories
venv
staticfiles

# exclude .idea directory
/.db_utils
/.idea

# ignore .dump files
*.dump

# ignore heroku .env file
*.env

# ignore settings_private.py file
settings_private.py

# ignore .pyc files
*.pyc
!settings_private.pyc

# exclude .DS_Store
.DS_Store

# exclude .RHistory
.Rhistory

# exclude db.sqlite3
db.sqlite3

# ignore log files
*.log*

# ignore pdf files
*.pdf

# ignore jpg files
*.jpg

