{% load admin_static %}{% load firstof from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "crpt201510/css/base.css" %}{% endblock %}" />
<link rel="stylesheet" type="text/css" href="{% static "crpt201510/css/forms.css" %}" />
<!--
<link rel="stylesheet" type="text/css" href="{% static "crpt201510/css/global.css" %}" />
-->
<link rel="stylesheet" type="text/css" href="{% static "crpt201510/css/widgets.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "crpt201510/css/changelists.css" %}" />
{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "crpt201510/css/ie.css" %}{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "crpt201510/css/rtl.css" %}{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "crpt201510/" %}{% endfilter %}";</script>
{% block extrahead %}{{ block.super }}
<!--
<link rel="stylesheet" type="text/css" href="{% static "admin/css/widgets.css" %}" />




<link rel="stylesheet" type="text/css" href={% static "admin/css/base.css" %}/>
<link rel="stylesheet" type="text/css" href={% static "admin/css/global.css" %}/>
<link rel="stylesheet" type="text/css" href={% static "admin/css/widgets.css" %}/>
-->
<script type="text/javascript"
    src="/crpt201510/jsi18n/"></script>
<script type="text/javascript"
    src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript"
    src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
<script type="text/javascript"
    src="{% static 'admin/js/jquery.js' %}"></script>
<script type="text/javascript"
    src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript"
    src="{% static 'admin/js/actions.js' %}"></script>
<script type="text/javascript"
    src="{% static 'admin/js/calendar.js' %}"></script>
<script type="text/javascript"
    src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>

<script type="text/javascript"
    src="{% static 'crpt201510/js/crpt201510.js' %}"></script>

{%comment%} JS and CSS libraries for graphics page. Start {%endcomment%}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-3d.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.0/mustache.min.js"></script>

<script type="text/javascript" src="{% static 'crpt201510/js/colorbrewer.js' %}"></script>
<script type="text/javascript" src="{% static 'crpt201510/js/crptindicators.js' %}"></script>

<link rel="stylesheet" href="{% static "crpt201510/css/widget_list.css" %}">
<link rel="stylesheet" href="{% static "crpt201510/css/widget_chart.css" %}">
<link rel="stylesheet" href="{% static "crpt201510/css/light-theme.css" %}">
<link rel="stylesheet" href="{% static "crpt201510/css/makeitresponsive.css" %}">

{%comment%} JS and CSS libraries for graphics page. End {%endcomment%}

{{ form.media }}
{% endblock %}
</script>
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
{% if form %}{{form.media}}{% endif %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" ">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
        <div id="branding">
        {% block branding %}{% endblock %}
        {%if not is_logout and not is_login%}{% block latest_update %}{% endblock %}{%endif%}
        </div>
        {% if user.is_active and not is_logout and not is_login%}
        <div id="user-tools">
            {% trans 'Welcome,' %}
            <strong>{% firstof user.get_short_name user.get_username %}</strong>.&nbsp;
            {% block userlinks %}
                <a href="{% url 'my_change_password' %}">Change password</a>&nbsp;
                <a href="{% url 'logout' %}">{% trans 'Log out' %}</a>
            {% endblock %}
        </div>
        {% endif %}
        {% block nav-global %}{% endblock %}
    </div>
    <!-- END Header -->
    {% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'crpt201510:index' %}">{% trans 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}
    {% endif %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->
    {% if not is_logout %}
    {% block footer %}<div id="footer"><h4>&nbsp;&nbsp;<a href="{% url 'my_copyright' %}">Copyright © 2015</a>, City Resilience Profiling Programme</h4></div>{% endblock %}
    {% endif %}
</div>
<!-- END Container -->
<script language="javascript" type="text/javascript">
setFocusFirstElemForm();
setUploadButtonAssessment();
</script>
</body>
</html>
