{% extends "crpt201510/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "crpt201510/css/login.css" %}" />{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
   <div id="content" class="colM" style="width:100%;">
        <h1>Logged out</h1>
        <p>Thanks for spending some quality time with the Web site today.</p>
        <p><a href="/index/">Log in again</a></p>
        <br class="clear">
        <div id="footer" style="padding:0px;"><h4><a href="{% url 'my_copyright' %}">Copyright © 2015</a>, City Resilience Profiling Programme</h4></div>
    </div>
    <!-- END Content -->
</div>
{% endblock %}
